<!DOCTYPE html>
<html lang="zh-CN">
	<head>
		<meta charset="UTF-8">
		<title>bubble</title>
		<script type="text/javascript" src="/static/js/jquery-1.11.3.min.js"></script>
		<script type="text/javascript" src="/static/bubble/bubble.js"></script>
	</head>
	<body>
		<canvas id="tutorial" width="600" height="450" style="z-index:100;display:block;border:1px solid #d3d3d3;"></canvas>
		<canvas id="canvas" width="600" height="300" style="z-index:1;border:1px solid #d3d3d3;"></canvas><br/>
		<canvas id="myCanvas1" width="300" height="300" style="border:1px solid #d3d3d3;"></canvas>
		<canvas id="jb51" width="300" height="300" style="border:1px solid #d3d3d3;"></canvas>
	</body>
</html>
